{%if message%}
<script>
    alert('{{message}}');
</script>
{%endif%}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">


    <title> sign in </title>

</head>
<body>
    <form action="/postsignup/" method="POST">
        {% csrf_token %}
        name:
        <input type="text" name="name"><br><br>
        email:
        <input type="email" name="email"><br><br>
        password:
        <input type='password' name="pass"><br><br>
        <input type="submit" value="signup"><br><br>
        

    </form>

</body>
</html>