<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">


    <title> sign in </title>
    <style>
    div{        position : absolute;
        right : 10px;
        top : 5px
        }

    </style>

</head>
<body>
        
    <h1>waassup {{email}}</h1><br><br>
    <button type="button"  onclick="location.href='{% url 'create'%}'">create a report</button>
    <button type="button">check a report</button>
    <div>
        <!-- change href -->
    <button type="button" onclick="location.href='{% url 'logout'%}'">logout</button>
    
</div>

</body>


</html>